<section id="banner">
	<div class="wrapper">
		<div class="content">
			<h1 class="title">University of Nevada</h1>

			<h2 class="sub_title">Association of Computer Machinery</h2>

			<div class="button_wrapper">
				<a href="#" class="button button_highlight">Learn More</a>
				<a href="#" class="button button_secondary">Mentorship</a>
			</div>
		</div>
	</div>
</section>
<section id="services" class="clearfix">
	<div class="wrapper">
		<div class="service">
			<h3>ACM Facebook</h3>
			<p>Single-origin coffee flannel fingerstache, man braid umami sartorial crucifix trust fund adaptogen chartreuse slow-carb offal beard church-key kinfolk</p>
			<a href="https://www.facebook.com/UNRACM/"target="_blank" class="button button_highlight button_small">Click here</a>
		</div>

		<div class="service middle">
			<h3>Mailing List</h3>
			<p>Portland put a bird on it tote bag, tumblr blog yr stumptown selvage marfa pok pok asymmetrical photo booth mustache. Raw denim hoodie chartreuse selfies.</p>
			<a href="#" class="button button_highlight button_small">Sign up</a>
		</div>

		<div class="service">
			<h3>Events</h3>
			<p>Single-origin coffee flannel fingerstache, man braid umami sartorial crucifix trust fund adaptogen chartreuse slow-carb offal beard church-key kinfolk.</p>
			<a href="#" class="button button_highlight button_small">Click here</a>
		</div>
	</div>
</section>

<section id="officers">
	<div class="wrapper">
		<h2 class="title" <a name="officers">Officers</h2>
		<div id="officer_pics">
			<div><img class="img-circle" src="images/j_curr.jpg" alt="President">
				<p class="title">President</p>
				<p class="sub_title">Tilde post-ironic ramps vegan polaroid lyft taiyaki live-edge authentic artisan hammock adaptogen +1. Occupy fam health goth hot chicken banh mi distillery fingerstache polaroid raclette artisan pinterest microdosing palo santo.</p>
			</div>
			<div><img class="img-circle" src="images/j_curr.jpg" alt="Vice-President">
				<p class="title">Vice President</p>
				<p class="sub_title">Craft beer stumptown iPhone taxidermy. Tousled distillery paleo, humblebrag marfa live-edge mixtape. Biodiesel lyft blog lomo mixtape put a bird on it, kogi air plant semiotics live-edge blue bottle waistcoat. Church-key fingerstache occupy ennui pop-up you probably haven't heard of them.</p>
			</div>
			<div><img class="img-circle" src="images/j_curr.jpg" alt="Secretary">
				<p class="title">Secretary</p>
				<p class="sub_title">Four loko art party vegan adaptogen kale chips, pok pok man bun migas chillwave tumblr brunch post-ironic. Neutra poke af, paleo quinoa heirloom bitters VHS locavore chartreuse craft beer. Drinking vinegar wayfarers disrupt direct trade gluten-free, single-origin coffee keffiyeh ennui subway tile gentrify umami brunch PBR edison bulb hell of.</p>
			</div>

			<div><img class="img-circle" src="images/j_curr.jpg" alt="Treasurer">
				<p class="title">Treasurer</p>
				<p class="sub_title">Four loko art party vegan adaptogen kale chips, pok pok man bun migas chillwave tumblr brunch post-ironic. Neutra poke af, paleo quinoa heirloom bitters VHS locavore chartreuse craft beer. Drinking vinegar wayfarers disrupt direct trade gluten-free, single-origin coffee keffiyeh ennui subway tile gentrify umami brunch PBR edison bulb hell of.</p>
			</div>

			<div><img class="img-circle small" src="images/j_melch.jpg" alt="Webmaster">
				<p class="title">Webmaster</p>
				<p class="sub_title">Four loko art party vegan adaptogen kale chips, pok pok man bun migas chillwave tumblr brunch post-ironic. Neutra poke af, paleo quinoa heirloom bitters VHS locavore chartreuse craft beer. Drinking vinegar wayfarers disrupt direct trade gluten-free, single-origin coffee keffiyeh ennui subway tile gentrify umami brunch PBR edison bulb hell of.</p>
			</div>
		</div>
	</div>
</section>

<section id="events">
	<div class="wrapper">
		<h2 class="title"<a name="events">ACM Event Calendar</h2>
		<iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=51djk2jte18udr2ctij146j01k%40group.calendar.google.com&amp;color=%230F4B38&amp;ctz=America%2FLos_Angeles" style="border-width:0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</section>

<section id="sponsors">
	<div class="wrapper">
		<h2 class="title" <a name="sponsors">Sponsors</h2>
		<p class="sub_title">The Association of Computer Machinery is greatful for the help from our following sponsors.</p>
		<div id="sponsor_pics"><img src="images/sponsors.png" alt="sponsor_pics">
		</div>
	</div>
</section>
