<div id="fb-root"></div>
  <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10";
      fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
  </script>
  <section id="banner">
    <div class="wrapper">
      <header>
        <p <a name="home" id="logo">UNR<span>ACM</span></p>

        <nav>
          <a href="#">Home</a>
          <a href="#officers">Officers</a>
          <a href="#sponsors">Sponsors</a>
          <a href="#events" class="button button_secondary button_small">Events</a>
          <%= link_to "Mentorship Program", new_user_session_path() %>
        </nav>
      </header>
    </div>
  </section>
